<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Поиск по анкете</title>
</head>
<h1>Поиск по анкете</h1>
<p>Введите в поле поиска то, что хотите найти, и выберите, где это искать.</p>
<form><input name="value" type="text" value="" /><select name="field" required="" size="1">
<option>имя</option>
<option>пол</option>
<option>возраст</option>
<option>родной язык</option>
<option>родной город</option>
<option>уровень образования</option>
<option>ответы</option>
</select>
<input type="submit" value="Искать" />
</form>
<body>
</body>
</html>
